# Python cache
__pycache__/
*.pyc
*.pyo

# Hugging Face binary/model outputs
*.pth
*.h5
*.ckpt
*.pdf

# Dataset and results folders
data/
logs/

# Large files
*.zip
*.tar.gz
*.mp4
*.png
*.jpg
*.jpeg

